/*--------------------------------------------*/
/*--------------------------------------------*/
/* somewhat random stuff */
a {
    text-decoration: none;
}

.user-container {
    display: flex;
    flex-direction: row;
}

.profile-picture {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 30%;
}

.user-info {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.user-h1 {
    margin-bottom: 0px;
}




/*--------------------------------------------*/
/*--------------------------------------------*/
/* form stuff */
.form-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    align-items: flex-start;
}

.form-row {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.tags-container {
    display: flex;
    flex-direction: column;
}

form input {
    width: 100%;
    margin-left: 20px;
    padding: 8px;
}

form label {
    margin-right:10px;
}

.buttons-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

input[type="text"],
textarea {
    border: 1px solid #ccc;
    border-radius: 3px;
}

textarea {
    width: 300px;
    height: 75px;
    resize: none;
}





/*--------------------------------------------*/
/*--------------------------------------------*/
/* Post Stuff */
.post-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    align-items: flex-start;
}

.post-container * {
    margin-top: 5px;
}


/*--------------------------------------------*/
/*--------------------------------------------*/
/* Buttons */
.default-btn {
    background-color: #4CAF50;
    border: solid 1px #4CAF50;
    border-radius: 5px;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    display: flex;
    font-size: .75rem;
    margin-left: 15px;
    width: 85px;
    justify-content: center;
    align-items: flex-end;
}

.edit {
    background-color: blue;
    border: solid 1px blue;
    margin-top: 10px;
}

.home {
    background-color: green;
    border: solid 1px green;
    margin-top: 10px;
}

.delete {
    background-color: red;
    border: solid 1px red;
    margin-top: 10px;
}

.cancel {
    background-color: transparent;
    border: 1px solid rgb(95, 95, 240);
    color: rgb(95, 95, 240);
}

button:hover {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    transition: background-color 0.5s, color 0.5s, border 0.5s;
}

#tagButtons {
    display: flex;
    flex-direction: row;
}


/*--------------------------------------------*/
/*--------------------------------------------*/
/* tags */
.tags-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tag {
    margin-left: 8px;
    border: solid 1px blueviolet;
    color: white;
    background: blueviolet;
    font-size: .85rem;
    border-radius: 5px;
    padding: 2px;
    font-weight: bold;
}