a {
    text-decoration: none;
}

.add {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    display: flex;
    font-size: .75rem;
    margin-top: 10px;
    width: 100px;
    justify-content: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-top: 5px;
}

.form-container p {
    margin-bottom: 5px;
}

button.add {
    align-self: flex-end;
}

h1 {
    margin-bottom: 5px;
}

.edit {
    background-color: blue;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px 32px;
    text-decoration: none;
    display: flex;
    font-size: .75rem;
    margin-top: 10px;
    width: 50%;
    justify-content: center;
}

.delete {
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px 32px;
    text-decoration: none;
    display: flex;
    font-size: .75rem;
    margin-top: 10px;
    width: 50%;
    justify-content: center;
}

.cancel {
    background-color: transparent;
    border: 1px solid rgb(95, 95, 240);
    border-radius: 5px;
    color: rgb(95, 95, 240);
    text-decoration: none;
    display: flex;
    font-size: .75rem;
    margin-top: 10px;
    margin-right: 5px;
    width: 25%;
    align-items: center;
    justify-content: center;
}

.user-container {
    display: flex;
    flex-direction: row;
}

.profile-picture {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 30%;
}

.user-info {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.user-h1 {
    margin-bottom: 0px;
}

.button-container-edit {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}