{% extends "base.html" %}

{% block content %}
<div class="post-container">
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>
    <p><i>By {{ post.user.first_name }} {{ post.user.last_name }}</i></p>
    <div class="buttons-row">
        <a href="/users"><button class="default-btn home" id="homeButton">Home</button></a>
        <a href="/posts/{{ post.id }}/edit"><button class="default-btn edit" id="editButton">Edit</button></a>
        <form method="POST" id="delete_post" action="/posts/{{ post.id }}/delete">
            <button type="submit" class="default-btn delete" id="deleteButton">Delete</button>
        </form>
    </div>
</div>
<a href="/">User List</a>
{% endblock %}